<!-- Page Wrapper -->
<div id="wrapper">
    <app-sidebar></app-sidebar>
    <div id="content-wrapper" class="d-flex flex-column">
        <app-header></app-header>
        <!-- Main Content -->
        <div id="content">
          
          <!-- Begin Page Content -->
          <div class="container-fluid">
  
              <!-- Page Heading 
              <h1 class="h3 mb-4 text-gray-800">Blank Page</h1>-->
              <router-outlet></router-outlet>
            </div>
          <app-footer></app-footer>
          <app-scroll-top></app-scroll-top>
        </div>
    </div>
  </div>